.mainLayout {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 100%;
  min-width: var(--main-layout-min-width);
  overflow: hidden;
  background: var(--color-bg-secondary);
  transition: background-color 0.5s ease;
}

.content {
  height: calc(100vh - 72px);
  padding: var(--space-m);
}
