:root {
  --main-layout-min-width: 1024px;

  --z-index-low: 1; /* используется для позиционирования элементов на основном уровне интерфейса */
  --z-index-mid: 2; /* всё, что следует отобразить поверх основного уровня (например, модалки) */
  --z-index-high: 3; /* самая верхняя плоскость интерфейса (например, глобальные уведомления) */

  .Modal {
    /* модалки из консты на второй слой интерфейса */
    z-index: var(--z-index-mid);
  }

  .Popover {
    /* поповеры из консты тоже на второй слой */
    /* это избавит от ситуаций, когда выпадающая часть */
    /* компонента ввода (дейтпикер, селект и т.п.) оказывается под модалкой */
    z-index: var(--z-index-mid);
  }
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
 
.App {
  width: 100vw;
  height: 100vh;
}
 
.wrapper {
  flex-grow: 1;
  height: 100%;
}

body {
  --color-bg-alert-light: rgba(235, 87, 87, 0.07);
  --color-bg-alert-light-hover: rgba(235, 87, 87, 0.15);
  --color-bg-alert-light-active: rgba(235, 87, 87, 0.25);
  margin: 0;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-corner,
*::-webkit-scrollbar-track {
  background-color: var(--color-scroll-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-thumb);
  border-radius: var(--space-2xs);
}

.textOverflow {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
}

.tooltip{
  background-color: #fff;
  font-size: 9px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ccc;
  max-width: 300px;
  max-height: 200px;
  overflow: auto;
}

.calculatedNode{
  opacity: .4;
}