.header {
  display: flex;
  justify-content: space-between;
  height: var(--space-5xl);
  padding: var(--space-m) var(--space-xl);
  gap: var(--space-xl);
}

.left {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: var(--space-xl);
}

.right {
  display: flex;
  align-items: center;
  gap: var(--space-m);
}

.column:first-child {
  flex-grow: 1;
}
